<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/Workspace/reports/lombokdemo/src/test/java/com/qa/tests/CustomerTest.java">
        <classes>
                <class name="com.qa.tests.TestLog4j" />
        </classes>
    </test>
</suite>